/*GLOBAL STYLE*/

/*Import Poppins Font (Google Fonts)*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    /*Using (box-sizing: border-box) for fixed calculation of area*/
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}

/*Body*/
body {
    background: #242c36;
    color: #d3d3d3;
    background-image: url('img/pixelcity.png');
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed; 
    background-repeat: no-repeat;
}

/*Anchor*/
a {
    color: #d3d3d3;
    text-decoration: none;
}

/*Navbar*/
.navbar {
    position: fixed; /*used to have a fixed navigation bar even scrolling*/
    
    /*positioned to top-left corner of the screen*/
    left: 0;
    top: 0;

    width: 100%; /*streched to the right-left corner of the screen*/
    padding: 20px 9%; /*25px top-bottom and 9% in right-left corner*/

    background: #121b24aa;
    box-shadow: 0 0 20px #000;
    
    /*used to have space between the logo and nav (a) centering*/
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*stacking the .navbar at the very top (highest priority)*/
    z-index: 100;
}

.navbar a i {
    margin-right: 5px; 
    font-size: 20px;
    color: #d3d3d3; 
}

/*Logo*/
.navbar .logo {
    /*emphasizing the logo of the website through higher font-weight and font-size*/
    font-size: 30px;
    font-weight: 700;
}

/*<ul> Container*/
.navbar ul {
    /*if the <ul> is flex it acts as a flex container and its items <li> is horizontally in default*/
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

/*Anchor Links in Navbar --Rokkie-or-Nath*/
.navbar ul a {
    position: relative;
    font-size: 20px;
    color: #d3d3d3;
    text-decoration: none;
    font-weight: 500;
    margin-left: 5px;
}

/*Underline Hover in Anchor (before 1s)*/
.navbar ul a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    transform-origin: right;
    border-radius: 5px; 
    transform: scaleX(0);
    transition: transform 1s; 
}
 
/*Underline Hover in Anchor (after 1s)*/
.navbar ul a:hover::after { 
    transform-origin: left;
    transform: scaleX(1);
    background: #00ffcc;
}

/*Header Button*/
.navbar button {
    width: 110px;
    height: 50px;
    background: transparent;
    border: 2px solid #d3d3d3;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: 0.5s;
}

/*Button Hover --Rokkie-or-Nath*/
.navbar button:hover {
    background: #d3d3d3;
    color: #1f242d;
}

.navbar button .login-button {
    color: #d3d3d3;
    text-decoration: none;
    display: block;
}

.navbar .login-button:hover {
    color: #1f242d;
}

.navbar .login-button:hover::after {
    transform: scaleX(0);
    background: transparent;
}

/*Navigation Text*/
.navbar ul li {
    /*rem the bullet in <li> and adding gap or spaces in left of 35px*/
    list-style: none;
    margin-left: 35px;
}

/*Navigation Anchor*/
.navbar ul li a, .navbar .dropbtn {
    /*adding font size and weight to the li also adding transition for hover effect*/
    font-size: 20px;
    font-weight: 500;
    transition: .6s;
}

/*Navigation Hover Color and Set <li> Active*/
.navbar ul li:hover a,
.navbar ul li:hover a i,
.navbar ul li.active a,
.navbar ul li.active a i {
    color: #00ffcc; /*bright blue maybe for strong contrast*/
}

/*Navigation Dropdown*/
.navbar .dropdown {
    position: relative; /*anchor the dropdown to dropbtn and ensure relative to its parent class*/
}

/*Display block transition*/
.navbar .dropbtn {
    transition: .3s;
}

/* Dropdown Content (Hidden) */
.navbar .db-content {
    display: none;
    position: absolute; /*to not make it move just stack upwards*/
    top: 100%; /*content bellow button*/
    left: 0;
    padding: 10px 0;
    min-width: 170px;
    border-radius: 8px;
    background: #121b24aa;
    box-shadow: 0 3px 3px #000;
    z-index: 101; /*stack into top of nav*/
}

/* Dropdown Links */
.navbar .db-content a {
    padding: 10px 20px; 
    display: block; /*makes each link a block*/
    transition: 0.3s ease; 
}

/* Hover State for Links */
.navbar .db-content a:hover {
    background-color: #bdc3c755; /*lighter background of the block*/
}

/* Show Dropdown Content on Hover */
.navbar .dropdown:hover .db-content {
    display: block; /*showing the dropdown again*/
}


/*HOME PAGE STYLE*/

/*Home Content Container*/
.home {
    /*making a container that contains flex items ff. and centering its y-axis, customize padding and color*/
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 60px 9% 0;
    color: #d3d3d3;
}

/*Home <h1>*/
.home-info h1 {
    font-size: 55px;
}

/*Home <h2>*/
.home-info h2 {
    font-size: 33px;
    margin-top: -15px;
}

/*Home <p>*/
.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.home-info .to-feedback {
    color: #00ffcc;
    transition: .3s ease;
}

.home-info .to-feedback:hover {
    color: #009d80;
}


/*FEED STYLE*/

/*Feed Content Container*/
.feed {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 5% 0;
    color: #d3d3d3;
    min-height: 100vh;
}

.feed-info {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    background: #d3d3d3dd;
    border-radius: 3px;
    height: auto;
}

.feed-info h2 {
    font-size: 33px;
    margin-top: -15px;
    text-align: left;
    color: #333;
}

.feed-info p {
    font-size: 16px;
    margin: 10px 0 10px;
    color: #555;
    line-height: 1.6;
    text-align: left;
}


/*Horizonal Rule Border*/
hr {
    border: 1px solid #fff;
}

/*RESOURCE STYLE*/

/*ABOUT STYLE*/
/*About Content Container*/

.about-website {
    margin-top: 80px;
}
.about-website {
    /*making a container that contains flex items ff. and centering its y-axis, customize padding and color*/
    display: flex;
    align-items: center;
    padding: 60px 5%;
    color: #d3d3d3;
    width: 100%;
}

/*About <h1>*/
.about-website h1 {
    text-align: left;
    font-size: 25px;
}

/*About <p>*/
.about-website p {
    font-size: 16px;
    margin: 10px 0 25px;
}

.about-website table {
    color: #d3d3d3;
    width: 100%;
    border-collapse: collapse; 
}

.about-website th, .about-website td {
    padding: 10px;
    text-align: left;
}

.about-website thead th {
    text-align: center;
    font-size: 25px;
}

.about-website caption {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about-website table .author-name {
    color: #00ffcc;
}

/*LOGIN AND REGISTRATION STYLE*/

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#login .login-container {
    background: #121b24aa;
    box-shadow: 0 5px 5px 0 #000;
    padding: 20px;
    min-width: 40%;
    border-radius: 7px;
}

.login-container h1 {
    margin-bottom: 25px;
    text-align: center;
}

.login-container input {
    padding: 7px;
    width: 100%;
    border-style: none;
    border-radius: 2px;
    margin-bottom: 10px;
    background-color: #eee;
}

.login-container .login-button {
    display: flex;
    justify-content: center;
}

.login-container button {
    width: 100%;
    padding: 7px;
    border-radius: 4px;
    border-style: none;
    background-color: #00ffcc;
    transition: .3s ease;
}

.login-container button a {
    display: block;
    color: #1f242d;
    cursor: pointer;
    transition: .3s ease;
}

.login-container button:hover {
    background-color: #009d80;
}

.login-container button:hover a {
    color: white;
}    

.login-container p {
    text-align: center;
    margin-top: 10px;
}

.login-container p a {
    color: #00ffcc;
    transition: .3s ease;
}

.login-container p a:hover {
    color: #009d80;
}